#mapdiv {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%; 
	height: 100%;
	background-image: url(../images/background/bg-kadr-100.png);
	z-index: -1;
}

/*Copyright*/
.amcharts-chart-div a {
	display:none !important;
}
