video { display: block; }
    video#video-on-bg {
        background:url('../images/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
           -moz-background-size: cover;
            -ms-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        width: auto;
        height: auto !important;
        min-width:100%;
        min-height:100%;
        position:fixed;
        left: 0; /* прикрепить видео к левому краю или правому? (right:0;) */
        bottom: 0; /* прикрепить видео к нижнему краю или верхнему (top:0;) */
        z-index: -998;
}
#event-mess {
    position: absolute;
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-shadow: #000 0 0 10px;
    left: 20%;
}
#timetoevent {
    font-weight: bold;
}
.col-sm-3 {
    width: 24%;
}
.panel {
    position: absolute;
    left: 75%;
    /*margin-top: 100px;*/
    /*margin: 30px 20% 0;*/
}