.panel {
	position: relative;
}
.main_balance {
	position: relative;
	width: 100px;
	height: 0px;
	top: 5px;
	left: 130px;
	z-index: 1;
	font-size: 1.3em;
	text-align: center;
	cursor: pointer;
	color: #31708f;
}
.main_balance:hover {
	font-weight: bold;
}
.achivki {
	position: relative;
	height: 0;
	top: 95px;
	left: 115px;
	z-index: 1;
}
.panel-heading p{
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
.panel-body {
	height: 30px;
	margin: 9px;
}
.table-hover{
	text-align: center;
}
.table-hover thead th{
	text-align: center;
}
.modal-body strong p {
	font-size: 1.5em;
	color: #00850b;
}
.right_panel {
	position: fixed;
	left: 93%;
	top: 100px;
}
.right_panel__icon {
	margin-top: 30px;
	cursor: pointer;
}
.left_panel {
	position: absolute;
	top: 110px;
	left: 10px;
	margin-bottom: 50px;
}
.bottom_panel {
	position: fixed;
	left: 50%;
	bottom: 70px;
	z-index: 1;
}
.bottom_panel__task {
	float: left;
	width: 60px;
	height: 50px;
	text-align: center;
	font-size: 1em;
	margin-left: 20px;
	cursor: pointer;
}
.LockOff { 
  display: none; 
  visibility: hidden; 
} 

.LockOn { 
  display: block; 
  visibility: visible; 
  position: absolute; 
  z-index: 999; 
  top: 0px; 
  left: 0px; 
  width: 105%; 
  height: 105%; 
  background-color: #fff; 
  text-align: center; 
  padding-top: 20%; 
  filter: alpha(opacity=75); 
  /*opacity: 0.75; */
}