.panel {
	position: relative;
}
.main_balance {
	position: relative;
	width: 100px;
	height: 0px;
	top: 10px;
	left: 130px;
	z-index: 1;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
	color: #31708f;
}
.main_balance:hover {
	font-weight: bold;
}
.panel-heading p{
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
.panel-body {
	height: 30px;
	margin: 9px;
}
.table-hover{
	text-align: center;
}
.table-hover thead th{
	text-align: center;
}
.modal-body strong p {
	font-size: 1.5em;
	color: #00850b;
}
.right_panel {
	position: fixed;
	left: 93%;
	top: 100px;
}
.right_panel__icon {
	margin-top: 30px;
	cursor: pointer;
}
.left_panel {
	position: absolute;
	top: 110px;
	left: 53px;
	margin-bottom: 50px;
}
.bottom_panel {
	position: fixed;
	left: 50%;
	bottom: 70px;
	z-index: 1;
}
.bottom_panel__task {
	float: left;
	width: 60px;
	height: 50px;
	text-align: center;
	font-size: 1em;
	margin-left: 20px;
	cursor: pointer;
}