/*#event-mess, .main_tasks, .main_balance {
	border: 1px solid red;
}
.panel {
	border: 3px solid blue;
}   */
#event-mess {
  position: absolute;
  left: 37%;
  text-align: center;
  color: #000;
  font-size: 1.5em;
  text-shadow: #ccc 0 0 10px;
}
#timetoevent {
	font-weight: bold;
}
.panel {
	position: absolute;
	top: 250px;
	left: 35px;
}
.panel-body {
	height: 30px;
	margin: 9px;
}
.panel-body p{
    height: 0px;
}
.optional_tasks {
	position: absolute;
	left: 40%;
	top: 82%;
}
.optional_tasks p i{
	cursor: pointer;
	margin: 0 30px;
}
.optional_tasks p i:hover{
	color: #f00;
}
.main_tasks {
	position: absolute;
	left: 90%;
}
.main_tasks p i{
	color: #f00;
	cursor: pointer;
}
.main_tasks p i:hover{
	color: #00a822;
}
.main_balance {
	position: absolute;
	left: 80%;
	text-align: center;
}
.main_balance {
	cursor: pointer;
}
