/*.menu_button, .logo, #mapdiv, .main_menu {
	border: 1px solid red;
}   */
body {
	margin: 0px;
	padding: 0px;
	background:#e5f9ff;
}
.main_menu {
	width: 100%;
	height: 110px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.main_menu a{
	text-decoration: none;
	color: #fff
}
.menu_button {
	display: table-cell;
	width: 150px;
	height: 50px;
	vertical-align: middle;
	border-radius: 10px;
	background: #4A92A6;
	
}
.menu_button:hover {
	background: #59abc2;
	
}
.logo {
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
}
#mapdiv {
	position: fixed;
	top: 110px;
	left: 0;
	width: 100%; 
	height: 100%;
	background-color:#e5f9ff; 
	z-index: 0;
	
}